In [30]:
def check(l, *args, **kwargs):
    print(l)
    for every in args:
        print('args', every)
    for every in kwargs:
        print(every, kwargs[every])

In [31]:
check(2,  1, 2, 4, name="lamee", age=20)

2
args 1
args 2
args 4
name lamee
age 20

In [24]:
def ck(l):
    for every in range(l):
        print(l)

In [25]:
ck(10)

10
10
10
10
10
10
10
10
10
10

In [40]:
#going to factorial of 5 using multiplication.
def fact(n):
    if n == 1:
        f = 1
        print('here the result is', f)
    else:
        print('at this point n=', n)
        f = n * fact(n-1)
        print('the result here f=',f)
    return f

In [41]:
fact(5)

at this point n= 5
at this point n= 4
at this point n= 3
at this point n= 2
here the result is 1
the result here f= 2
the result here f= 6
the result here f= 24
the result here f= 120

120

In [47]:
#going to factorial of 5 using addition.
def fact(n):
    if n == 1:
        f = 1
        print('here the result is', f)
    else:
        print('at this point n=', n)
        f = n + fact(n-1)
        print('the result here f=',f)
    return f

In [48]:
fact(5)

at this point n= 5
at this point n= 4
at this point n= 3
at this point n= 2
here the result is 1
the result here f= 3
the result here f= 6
the result here f= 10
the result here f= 15

15

In [70]:
def funny(name, state):
    print(f' surname: {name}, where: {state}')

In [71]:
funny('salami', 'lagos')

 surname: salami, where: lagos

In [131]:
#making *args list without using args in a function
def any(a, b, c, d):
    return a + b + c + d

In [132]:
#since this is a list function, we can do this to generalize all, cause in a case we have so many values for our parameters
lista = [1, 2, 3, 4]
any(*lista)

10

In [138]:
#making **args dict without using args in a function
def so(det, info, enq):
    return det, info, enq

In [140]:
dictee = {"det": "salam", "info": 25, "enq": "female"}
so(**dictee)

('salam', 25, 'female')

In [125]:
#function in functiom
def some_sum(a, b, c):
    return a + b + c

In [128]:
def square_sum(a, b, c):
    sumee = some_sum(a, b, c)
    return (sumee) ** 2

In [129]:
square_sum(1, 4, 4)

81

In [91]:
##cannt use sum with str
def cef(g, e, f):
    return g + e + f

In [93]:
cef(1, 2, 3)

6