In [27]:
def personality(name, city):
    print(f' my name is {name} and from a city called {city}')
    print(f' you can call me {name} cat')
    return 'her name is {name} from the city of {city}'

In [28]:
p = personality("lamee", "lagos")

 my name is lamee and from a city called lagos
 you can call me lamee cat

In [29]:
p

'her name is {name} from the city of {city}'

In [57]:
#name = "lamee"
#city = "lagos"
def new_function(name, city):
    var_plus = name  +  city
    print(var_plus)
    return var_plus

In [58]:
new_function("lamee", "lagos")

lameelagos

'lameelagos'

In [52]:
#if i wanna do a function that will concatenate lamee and berlin all the time.. so i'll do a def and create a function for it.

In [94]:
tuple(("hello"))

('h', 'e', 'l', 'l', 'o')

In [76]:
type(some_this )

tuple

In [84]:
some = (1, 2, 3, 4, 3, 'my own')

In [85]:
some[::2]

(1, 3, 3)

In [81]:
some + ("my name", "her name")

(1, 2, 3, 4, 3, 'my own', 'my name', 'her name')

In [86]:
some * 3

(1, 2, 3, 4, 3, 'my own', 1, 2, 3, 4, 3, 'my own', 1, 2, 3, 4, 3, 'my own')

In [88]:
some.index("my own")

5

In [90]:
some.count(3)

2

In [95]:
list(some)

[1, 2, 3, 4, 3, 'my own']

In [96]:
make_some_list = list(some)

In [97]:
make_some_list

[1, 2, 3, 4, 3, 'my own']

In [98]:
some

(1, 2, 3, 4, 3, 'my own')

In [105]:
tuple((i for i in range(5)))

(0, 1, 2, 3, 4)

In [ ]:
array = []
for every in range(10):
    array.append(every)
    print(array)

In [115]:
import random
def main(any):
    if any == 1:
        return "one"
    elif any == 2:
        return " you Assign me to two"
    elif any == 3:
        return "three"
    elif any == 4:
        return "four"
    elif any == 5:
        return "five"
s = random.randint(1, 5)
assign = main(s)
print(assign)

print(main(random.randint(1, 5)))

three

In [125]:
print("my name is", end=" ")
print("lamee", end= " ")
print("lamoo", end= " ")
print('you')

my name is lamee lamoo you

In [122]:
print("cat", "dogs", "chicken", sep= ',')

cat,dogs,chicken

In [132]:
rates = {}
rates['EURUSD'] = 1.01
rates['EURGBP'] = 0.85

In [133]:
rates

{'EURUSD': 1.01, 'EURGBP': 0.85}

In [150]:
rate.keys()

dict_keys(['EURUSO', 'EURGPP'])

In [143]:
rate = {"EURUSDD" : 1.01, "EURGPP": 0.85}

In [151]:
rate

{'EURUSO': 1.01, 'EURGPP': 0.85}

In [152]:
100 * 1.01

101.0

In [258]:
def som(*args):
    number = []
    string = []
    lst = []
    flt = []
    for every in args:
        if type(every) == int:
            number.append(every)
        elif type(every) == str:
            string.append(every)
        elif type(every) == list:
            lst.append(every)
        elif type(every) == float:
            flt.append(every)
    return number, string, lst, flt

In [259]:
som(1, [1,3,6], 6, "my girl", 4, "toye", 2.6, 8, 7.7 )

([1, 6, 4, 8], ['my girl', 'toye'], [[1, 3, 6]], [2.6, 7.7])

In [178]:
def check(*args):
    for every in args[1], args[3]:
        return every

In [179]:
check(1, 3, 5, 7)

3

In [181]:
def check(*args):
    return args[1], args[3]

In [182]:
check(1, 3, 5, 7)

(3, 7)

In [190]:
def check(*args):
    for every in args:
        return sum(args)

In [191]:
check(1, 3, 5, 7)

16

In [286]:
def jeck(**args):
    for every in args: 
        #print(every)
        return every
        #return args.items()

In [287]:
jeck(a= "lamee", b = "baby")

'a'

In [250]:
#volume of a cube l, w, d
def check(lenght, width, depth, unity ="cm"):
    if unity == "cm":
        return lenght * width * depth 
    elif unity == "mm":
        return lenght * width * depth * 100
    elif unity == "km":
        return lenght * width * depth / 100
    else:
        return lenght + width

In [251]:
check(150, 100, 50)

750000